@media(max-width: 2560px){
    
}

@media(max-width: 1920px){
    section{
        scale: 0.8;
    }
}

@media(max-width: 1600px){
    section{
        scale: 0.7;
    }
}

@media(max-width: 1440px){
    
}

@media(max-width: 1280px){
    section{
        scale: 0.6;
    }
}

@media(max-width: 1080px){
    
}

@media(max-width: 1024px){
    section{
        scale: 0.5;
    }
}

@media(max-width: 962px){
    
}

@media(max-width: 810px){
    
}

@media(max-width: 768px){

}

@media(max-width: 640px){
    
}

@media(max-width: 601px){
    section{
        scale: 0.4;
    }
}

@media(max-width: 540px){
    
}
@media(max-width: 425px){
    
}

@media(max-width: 375px){
    section{
        scale: 0.3;
    }
}

@media(max-width: 320px){
    
}